<p id="notice"><%= notice %></p>

<h1>Flights</h1>


 
<%= form_tag(flights_path, method: :get) do  %>
  <%= select_tag :from_airport_id, options_for_select(@flights_from) %>

    <%#= form.select :to_airport, @flights_to %>

  <%= submit_tag "Search" , name: nil %>
<% end %>

<%if @flights%>

  <%=@flights%>
<%end%>

<%= link_to 'New Flight', new_flight_path %>
