<p id="notice"><%= notice %></p>

<h1>Flights</h1>


 
<%= simple_form_for :flight, url: root_path, method: "GET", local: true do |f| %>
  <%= f.input :from_airport_id, as: :select, 
        collection: @airport_options, label: "From", required: false %>
  <%= f.input :to_airport_id, as: :select,  
        collection: @airport_options, label: "To", required: false %>


        <%= f.submit "Search"%>
<% end %>


<%if @flights%>
  
<% @flights.each do |f|%>
    <%=f.from_airport.code%> to <%=f.to_airport.code%> 
<%end%>

<%end%>

<%= link_to 'New Flight', new_flight_path %>
