<p id="notice"><%= notice %></p>

<h1>Flights</h1>


 
<%= simple_form_for :flight, url: root_path, method: "GET", local: true do |f| %>
  <%= f.input :from_airport_id, as: :select, 
        collection: @airport_options, label: "From", required: false %>
  <%= f.input :to_airport_id, as: :select,  
        collection: @airport_options, label: "To", required: false %>
  <%= f.input :takeoff, as: :select, collection: @date_options,
    label: "Date", required: false %>

  <%= f.input :num_passenger, as: :select, collection: (1..4), selected: 1,
    label: "Number of passengers", required: true%>
  <%= f.submit "Search"%>
<% end %>


<%if @flights%>
  <%= render 'results' %>
<%else%>
  <p>Please select at least one flight option</p>
<%end%>

