<p id="notice"><%= notice %></p>

<h1 class="title">Flights</h1>


 
<%= simple_form_for :flight, url: root_path, method: "GET", local: true do |f| %>
    

  <div class="control">
    <label class="label">From</label>
    <div class="select">

      <%= f.input :from_airport_id, as: :select, 
      collection: @airport_options, required: false , wrapper: false, label: false%>
    </div>
  </div>
    

  <div class="control">
    <label class="label">To</label>
    <div class="select">

      <%= f.input :to_airport_id, as: :select,  
        collection: @airport_options, required: false , wrapper: false, label: false%>
    </div>
  </div> 

  <div class="control">
    <label class="label">Date</label>
    <div class="select">
      <%= f.input :takeoff, as: :select, collection: @date_options,
       required: false , wrapper: false, label: false, selected: @date_options.first%>
    </div>      
  </div>

  <div class="control">
    <label class="label">Number of passengers</label>
    <div class="select">
      <%= f.input :num_passenger, as: :select, collection: (1..4), selected: 1,
       required: true, wrapper: false, label: false%>
    </div>
  </div>

  <br>
  <div class="control">
    <%= f.submit "Search", class: "button is-primary"%>
  </div>
<% end %>

<% if @flights && @flights.empty?%>
  <p>Sorry, we cannot find a flight of your choosing. Please select another flight.</p>
<%elsif @flights%>
  <%= render 'results' %>

<%else%>
  <p>Please select at least one flight option</p>
<%end%>

