<p id="notice"><%= notice %></p>

<h1>Flights</h1>


 
<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :flights, "Search for:" %>
  <%= form.select :from_airport, @flights_from %>
    <%= form.select :to_airport, @flights_to %>

  <%= form.submit "Search" %>
<% end %>



<%= link_to 'New Flight', new_flight_path %>
