<p id="notice"><%= notice %></p>

<h1>Flights</h1>


 
<%= simple_form_for :flight, url: root_path, method: "GET", local: true do |f| %>
  <%= f.input :from_airport_id, as: :select, 
          collection: @flights_from, label: false,
           include_blank: "From...", required: false %>
    <%#= form.select :to_airport, @flights_to %>

        <%= f.submit "Search"%>
<% end %>


<%if !@flights.empty?%>
  <%= render 'results'%>

<%end%>

<%= link_to 'New Flight', new_flight_path %>
