<h1>New Booking</h1>

<%= form_with(model: @booking, local: true) do |f|%>
  <%= f.hidden_field :flight_id, value: params[:booking][:flight_id]%>

  <%= f.fields_for :passengers do |p| %>
    <div class="field">
      <%= p.label :first_name, 'Your Name' , class: "label"%>
      <div class="control">
        <%= p.text_field :first_name, class:"input", type:"text", placeholder:"e.g. Michael"%>
      </div>
    </div>

    <div class="field">
      <%= p.label :first_name, 'Lastname', class: "label" %>
      <div class="control">

        <%= p.text_field :last_name, class:"input", type:"text", placeholder: "e.g. Scott" %>
      </div>
    </div>

    <div class="field">
      <%=p.label :email, 'Email'%>
      <div class="control">
        <%= p.text_field :email, class:"input", type:"text", placeholder: "e.g. michael@dm.com" %>
      </div>
    </div>

  <%end%>
  <div class="control">

    <%=f.submit 'Book',  class: "button is-primary"%>
  </div>
<%end%>
